<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="https://botostart.ir/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Flogo.c523c566.png&w=256&q=100" alt="" width="auto" height="150">
    <h1 class="display-5 fw-bold">Hi NodeJs Student</h1>
    <div class="col-lg-3 mx-auto">
        <a href="/" class="btn btn-success mt-2">Home</a>
        <a href="/register" class="btn btn-info mt-2">Signup</a>
        <a href="/login" class="btn btn-secondary mt-2">Signing</a>
        <a href="/profile" class="btn btn-warning mt-2">Profile</a>
    </div>
</div>