<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="https://botostart.ir/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Flogo.c523c566.png&w=256&q=100" alt="" width="auto" height="150">
    <h1 class="display-5 fw-bold">Welcome to the Profile Page</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">You've Successfully Entered the Profile Page</p>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">fullName</th>
                    <th scope="col">username</th>
                    <th scope="col">password</th>
                </tr>
            </thead>
            <tbody>
                <tr scope="row">
                    <td><%=user.id%></td>
                    <td><%=user.fullName%></td>
                    <td><%=user.username%></td>
                    <td><%=user.password.substr(0,10)+"..."%></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="/logout" type="button" class="btn btn-danger btn-lg px-4 gap-3">Log Out</a>
        <a href="/" class="btn btn-success mt-2">Home</a>
    </div>
</div>