<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with Steller landing page.">
    <meta name="author" content="Devcrud">
    <title>    </title>
    <link rel="stylesheet" href="assets/vendors/themify-icons/css/themify-icons.css">
    <link rel="stylesheet"href="assets/css/steller.css">
</head>
<body data-spy="scroll"
      data-target=".navbar"
      data-offset="40"
      id="home">
    <!-- Page navigation -->
    {{>_nav}}
    <!-- End of page navibation -->
    <!-- Page Header -->
    {{>_header}}
    <!-- End of Page Header -->
    <!-- About section -->
    {{>_about}}
    <!-- Service section -->
    {{>_service}}
    <!-- End of Sectoin -->
    <!-- Skills section -->
    {{>_skills}}
    <!-- End of Skills sections -->
    <!-- Portfolio section -->
    {{>_portfolio}}
    <!-- End of portfolio section -->
    <!-- Testimonial Section -->
    {{>_testimonial}}
    <!-- End of testimonial section -->
    <!-- Blog Section -->
    {{>_blog}}
    <!-- Hire me section -->
    {{>_hire}}
    <!-- End od Hire me section. -->
    <!-- Contact Section -->
    {{>_contact}}
    <!-- End of Contact Section -->
    <!-- Page Footer -->
    {{>_footer}}
    <!-- End of page footer -->
    <!-- core  -->
    <script src="assets/vendors/jquery/jquery-3.4.1.js"></script>
    <script src="assets/vendors/bootstrap/bootstrap.bundle.js"></script>
    <!-- bootstrap 3 affix -->
    <script src="assets/vendors/bootstrap/bootstrap.affix.js"></script>
    <!-- steller js -->
    <script src="assets/js/steller.js"></script>
</body>
</html>