nav.navbar.navbar-dark.bg-primary.navbar-expand 
    .container  
        a.navbar-brand(href='#') Pug 
        ul.navbar-nav.mr-auto   
            li.nav-item 
                a.nav-link(href='#')
                    span Home
            li.nav-item 
                a.nav-link(href='#')
                    span Blogs
            li.nav-item 
                a.nav-link(href='#')
                    span Course
            li.nav-item 
                a.nav-link(href='#')
                    span Login
            li.nav-item 
                a.nav-link(href='#')
                    span Register