<section id="contact"
             class="position-relative section">
        <div
             class="container text-center">
            <h6
                class="subtitle">
                Contact
            </h6>
            <h6
                class="section-title mb-4">
                Get
                In
                Touch
                With
                Me
            </h6>
            <p
               class="mb-5 pb-4">
                Lorem
                ipsum
                dolor
                sit
                amet,
                consectetur
                adipisicing
                elit.
                In
                alias
                dignissimos.
                <br>
                rerum
                commodi
                corrupti,
                temporibus
                non
                quam.
            </p>

            <div
                 class="contact text-left">
                <div
                     class="form">
                    <h6
                        class="subtitle">
                        Available
                        24/7
                    </h6>
                    <h6
                        class="section-title mb-4">
                        Get
                        In
                        Touch
                    </h6>
                    <form>
                        <div
                             class="form-group">
                            <input type="email"
                                   class="form-control"
                                   id="exampleInputEmail1"
                                   aria-describedby="emailHelp"
                                   placeholder="Enter email"
                                   required>
                        </div>
                        <div
                             class="form-group">
                            <input type="password"
                                   class="form-control"
                                   id="exampleInputPassword1"
                                   placeholder="Password"
                                   required>
                        </div>
                        <div
                             class="form-group">
                            <textarea name="contact-message"
                                      id=""
                                      cols="30"
                                      rows="5"
                                      class="form-control"
                                      placeholder="Message"></textarea>
                        </div>
                        <button type="submit"
                                class="btn btn-primary btn-block rounded w-lg">Send
                            Message</button>
                    </form>
                </div>
                <div
                     class="contact-infos">
                    <div
                         class="item">
                        <i
                           class="ti-location-pin"></i>
                        <div
                             class="">
                            <h5>Location
                            </h5>
                            <p> 12345
                                Fake
                                ST
                                NoWhere
                                AB
                                Country
                            </p>
                        </div>
                    </div>
                    <div
                         class="item">
                        <i
                           class="ti-mobile"></i>
                        <div>
                            <h5>Phone
                                Number
                            </h5>
                            <p>(123)
                                456-7890
                            </p>
                        </div>
                    </div>
                    <div
                         class="item">
                        <i
                           class="ti-email"></i>
                        <div
                             class="mb-0">
                            <h5>Email
                                Address
                            </h5>
                            <p>info@website.com
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div
             id="map">
            <iframe
                    src="https://snazzymaps.com/embed/61257"></iframe>
        </div>
    </section>